<html>
    <head><title><%= title %></title></head>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
        <header class="main_header">
            <nav class="main_header_nav">
               <ul class="main_header_item_list">
                   <li class="main_headr_item"><a href="/"><b><font size="+1">Home</font></b></a></li>
                   <li class="main_headr_item"><a href="/admin/contact "><b><font size="+1">Admin</font></b></a></li>
                   <li class="main_headr_item"><a href="/design"><b><font size="+1">Design</b></font></a></li>
                   <li class="main_headr_item"><a href="/order"><b><font size="+1">Book Order</font></b></a></li>
                   <li class="main_headr_item"><a href="/contact "><b><font size="+1">Contact Us</font></b></a></li>
               </ul>
           </nav>
       </header>
        <div class="page">
            <h1><strong><font size="+5" color="#FFFFFF" style="margin-top:40px;"><center>Contact Us</font></h1></center></strong>
            <div class="form">
            <span style='font-size:70px; color:#FFFFFF; margin-left:40px;'>&#9742;</span>
            <font size="+2" color="white" style="margin-left:130px;">       0181-2203020</font>
            <br />
            <span style='font-size:70px; color:#FFFFFF;margin-left:40px;' >&#9993;</span>
            <font size="+2" color="white" style="margin-left:130px;">lookin12@gmail.com</font>
            <br />
            <span style='font-size:70px; color:#FFFFFF;margin-left:40px;' >&#2706;</span>
            <font size="+2" color="white" style="margin-left:143px;">8360878069</font>
            <br />
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/feed/" class="fa fa-linkedin"></a>
            </div>
            <div class="form2">
            <br /><br />
            <input type="text" placeholder="Enter Name" name="conname" />
            <br />
            <input type="text" placeholder="Enter Email" name="conemail" />
            <br />
            <input type="text" placeholder="Enter phoneno" name="conno" />
            <br />
            <textarea rows="4" column="50" placeholder="Enter Message"></textarea>
            <br />
            <input type="submit" value="Submit" />
            </div>
            <h1><font size="+4" style="color:#FFFF00;margin-left:80px;"><strong><b>Address:</b></h1></strong></font>
            <h2><font size="+3" style="color:#990000;margin-left:100px;float:left;">Hno:121 Urban Estate , near Curio Highllights.  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3409.7788067202237!2d75.58490181450755!3d31.2822130814491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5b97496be4bf%3A0x1531bb695777ee65!2sCuro+High+Street!5e0!3m2!1sen!2sin!4v1563963091736!5m2!1sen!2sin" width="400" height="140" frameborder="0" style="border:0;margin-left:20px;margin-top:-50px;" allowfullscreen></iframe><strong><b></b></strong></font></h2>
            <br /><br />
            <br />
            <br />
            <h1><font size="+2" style="color:#FFFFFF;margin-left:90px;"><strong><b>Just One call away..!! You can find the full staff in the masthead of every issue.</b></strong></font></h1>
            <a href="/"><font color="yellow" size="+3"><center>Home</center></font></a>
            </div>
    </body>
</html>