<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/design.css">
    </head>
    <body>
        <header class="main_header">
            <nav class="main_header_nav">
               <ul class="main_header_item_list">
                   <li class="main_headr_item"><a href="/"><b><font size="+1">Home</font></b></a></li>
                   <li class="main_headr_item"><a href="/admin/contact "><b><font size="+1">Admin</font></b></a></li>
                   <li class="main_headr_item"><a href="/design"><b><font size="+1">Design</b></font></a></li>
                   <li class="main_headr_item"><a href="/order"><b><font size="+1">Book Order</font></b></a></li>
                   <li class="main_headr_item"><a href=" "><b><font size="+1">Contact Us</font></b></a></li>
               </ul>
           </nav>
       </header>
       <div class="lobby">
      <h1 ><center><font color="yellow" size="+3" face="Times, serif" "> LOBBY  DESIGNS   GALLERY</font></center></h1>
      </div>
      <div class="gallery">
       <div class="box"><img src="/img/loby1.jpg" /></div>
      <div class="box"><img src="/img/loby2.jpg" /></div>
      <div class="box"><img src="/img/loby3.jpg" /></div>
      <div class="box"><img src="/img/loby4.jpg.jpeg" /></div>
      <div class="box"><img src="/img/loby5.jpg" /></div>
      <div class="box"><img src="/img/loby6.jpg" /></div>
      <div class="box"><img src="/img/loby7.jpg" /></div>
      <div class="box"><img src="/img/loby8.jpg" /></div>
      </div>
      <div class="paraa">
      <font size="+2" face="Times New Roman, Times, serif"><h1>See how you can make your lobby look like.</h1></font>
      <p><font size="+2" color="#663333"><strong><b>You can select various designs for lobby as shown above. Your house will build accordingly. We provide comfortable rooms with full luxiries. These are rooms layout which are already designed and made. <br />
      You can even set an appointment to see the designs. </b></strong></font></p>
      <p><font size="+2" color="#330000" face="Times New Roman, Times, serif"><b><u>APPOINTMENT DETAILS :</u></b></font></p>
      <ul>
      <li><font size="+1"><strong><b>Timming- 9:00am-8:00pm</b></strong></font></li>
      <li><font size="+1"><strong><b>Venue- Near Curio Highstreet, Jalandhar</b></strong></font></li>
      <li><font size="+1"><strong><b>Phone no- 8360878069</b></strong></font></li>
      </ul>
      <br>
      <div class="dream">
      <h1><font size="+3"><strong><center>Dreams Come True</center></strong></font></h1>
    </div>
      <a href="/appointment"><input type="button" value="Fix An Appointment"></button></a>
       </div>
    </body>
</html>