<html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
        <title><%=title%></title>
    </head>
    <body >
        <header class="main_header">
             <nav class="main_header_nav">
                <ul class="main_header_item_list">
                    <li class="main_headr_item"><a href="/"><b><font size="+1">Home</font></b></a></li>
                    <li class="main_headr_item"><a href="/admin/contact "><b><font size="+1">Admin</font></b></a></li>
                    <li class="main_headr_item"><a href="/design"><b><font size="+1">Design</b></font></a></li>
                    <li class="main_headr_item"><a href="/order"><b><font size="+1">Book Order</font></b></a></li>
                    <li class="main_headr_item"><a href=" /contact"><b><font size="+1">Contact Us</font></b></a></li>
                </ul>

            </nav>
        </header>
        <div class="head">
        <h1><center>If you are finding best Interior Design </center></h1>
        <h1><center>You are at right place </center></h1>
    </div>
    <div class="gallery">
        <div class="box"><img src="/img/first.jpg" /></div>
        <div class="box"><img src="/img/second.jpg" /></div>
        <div class="box"><img src="/img/third.jpg" /></div>
        <div class="box"><img src="/img/forth.jpg" /></div>
        <div class="box"><img src="/img/fifth.jpg" /></div>
        <div class="box"><img src="/img/sixth.jpg" /></div>
        <div class="box"><img src="/img/seven.jpg" /></div>
        <div class="box"><img src="/img/eight.jpg" /></div>
       </div>
       <div class="homee">
           <h1><center><b>Its just the glimpse of the Interior...!!!</b></center> </h1>
       </div>

    </body>
</html>