.page
{
margin:0px;
height:auto;
padding:0px;
width:1250px;
}
.header
{
width:1250px;
height:150px;
border-style:;
color:#663333;
padding:0px;
margin:0px;
margin-top:px;
}
.appointt
{
height:100px;
width:1280px;
background-color:#000000;
margin-botton:15px;
}
.appointt h1
{
text-shadow:3px 2px brown;
}
.back
{
width:1280px;
height:800px;
border-style:groove;
background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(handshaking.jpg);
background-position:center;
background-attachment:fixed;
}
.form
{
position:relative;
z-index:1;
background:#FFFFFF;
max-width:360px;
margin-top:150px;
margin-left:430px;
padding:45px;
text-align:center;
border-style:groove;
height:380px;
border-color:#000000;
}
.form input
{
font-family:"Roboto",sans-serif;
outline:1
background:#999999;
padding:15px;
box-sizing:border-box;
font-size:14px;
}
.form button
{
font-family:"Roboto",sans-serif;
text-transformation:uppercase;
outline:1;
font-size:14px;
padding:15px;
color:#FFFF00;
cursor:pointer;
background-color:#663300;
width:214px;
margin-right:4px;
}
.custom-select select {
font-family:"Roboto",sans-serif;
outline:1
background:#999999;
padding:15px;
box-sizing:border-box;
font-size:14px;
width:214px;
}












