.box
{
    align-items: center;
    height:320px;
    width:500px;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
    margin: 100 380px;
    padding:40px 30px;
}
input[type=text]
{
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    box-sizing: border-box;
}
input[type=number]
{
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    box-sizing: border-box;
}
input[type=password]
{
    width:100%;
    padding:10px 18px;
    margin:7px 0;
    box-sizing: border-box;
}
button{
    height:30px;
    width:100%;
    cursor: pointer;
}
.main_header
{
    width:100%;
    height:60px;
    background-color:goldenrod;
    overflow: auto;

}
.main_header_nav
{
    display:flex;
    width:100%;
}
.main_header_item_list
{
    list-style-type: none;
    text-decoration: none;
    display:flex;
}
.main_headr_item
{
    text-decoration: none;
    margin: 0 5rem;
    display:flex;
}
.main_headr_item a{
    text-decoration: none;
}
.main_headr_item a:hover
{
    color:white;
}
.head{
 background-color: black;
 color:wheat;
 text-align: center;   
}
.price
{
    height:60px;
    width:100%;
    background-color: bisque;
    color:black;
}
a{
    text-decoration:none ;
}