.page
{
width:1250px;
height:2300px;
}
.bg
{
background-image:url(bg6.jpg);
width:1250px;
height:2300px;
background-attachment:fixed;
}
.head
{
height:100px;
width:1250px;
}
.text
{
align:justified;
margin-left:40px;
margin-right:40px;
}
img
{
width:470px;
height:300px;
}
img:hover
{
transform:scale(2,2);
transition: .3s transform;
}
.finallist
{
align:justified;
}